/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}

/* Estilos para secciones dinámicas */
.dynamic-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.dynamic-section input, .dynamic-section select {
    width: calc(30% - 10px);
    margin-right: 10px;
    margin-top: 5px;
}

.removeBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .dynamic-section input, .dynamic-section select {
        width: 100%;
        margin-bottom: 10px;
    }

    .removeBtn {
        width: 100%;
        margin-top: 5px;
    }
}
